body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a4e1bb;
    border:double 10px #400903;
}

#calculator {
    font-family: cursive;
    background-color: black;
    border-radius: 18px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding-right: 40px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: black;
    color: white;
    margin-top: 30px;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

/* All Buttons */

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:solid black;
    background-color: #181818;
    color: white;
    font-size: 2em;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: #444444;;
}
button:active {
    background-color: #878787;
}

/* Operator Buttons */

.ope-btn {
    background-color: #565656;
}
.ope-btn:hover {
    background-color: #8d8b8b;
}
.ope-btn:active {
    background-color: #b8b6b6;
}

/* Clear Button */

.cut-btn {
    color:#e44666;
}

/* Calculate Button */

.cal-btn {
    background-color:#027d54;
}
.cal-btn:hover {
    background-color:#08cb8a;
}
